@media screen and (max-width: 640px) {
	.banner-full-width {
        background-image: url('') !important;
    }
}	

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
