nav {
  background-color: #000;
  
}

h1 {
	font-family: 'Nixie One', cursive;
}

body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
}

.profile-img {
  border-radius: 50%;
}

#splash {
  background: url('./bg.jpg');
}