nav {
  background-color: #000;
  
}

h1 {
	font-family: 'Nixie One', cursive;
}

html, body{
  width: 100%;
  height: 100%;
}

body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
}

.profile-img {
  border-radius: 50%;
}

#splash {
  height: 100%;
  width: 100%;
  background-image: url('./bg.jpg');
  background-size: cover;
}

.product{
  margin-bottom: 1em;
  
}
.product img {
  box-shadow: 0px 0px 5px black;
}

.products{
  text-align: center;
}